{% extends "Shop/base.html" %} {% load static %} {% block content %}
<section class="products car">
  <h1>Your Cart</h1>
  {% if error_message %}
  <div class="error-message" style="color: red">{{ error_message }}</div>
  {% else %} {% if items %}
  <div class="product-list">
    {% for item in items %}
    <div class="product-item">
      <div class="image">
        <a href="cart_item/{{ item.id }}"
          ><img
            src="{{ item.product.image.url }}"
            alt="{{ item.product.name }}"
        /></a>
      </div>
      <div class="details1">
        {{ item.quantity }} x {{ item.product.name }}(${{ item.product.price }})
        = ${{ item.total }}
      </div>

      <form action="{% url 'delete-cart-item' item.id %}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit">Remove</button>
      </form>
    </div>
    {% endfor %}
  </div>
  <p><strong>Total: </strong>${{ total }}</p>
  <form action="">
    <button type="submit">Checkout</button>
  </form>
  {% else %}
  <p>Your cart is empty.</p>
  {% endif %}
  <a style="width: fit-content" class="button" href="{% url 'products' %}"
    >Add Product</a
  >
  {% endif %}
</section>
{% endblock %}
