:root {
    --main-color: #c94cac;
    --main-color2: #21137e;
}

a {
    text-decoration: none;
}

body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    width: 72px;
    height: 72px;
    transition: 0.3s;
}

header .logo:hover img {
    transform: scale(1.2);
}

header ul {
    display: flex;
}

header ul>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 30px;
    transition: 0.3s;
    overflow: hidden;
    font-weight: bold;
}

header ul>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    -webkit-text-fill-color: content-box;
    bottom: 0;
    left: -100%;
    transition: 0.3s;
}

header ul>li>a:hover::before {
    left: 0;
}

header ul>li>form {
    margin: 0;
    /* To ensure alignment with links */
    display: inline;
    /* Keep it inline */
}

header ul>li>form .logout-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 30px;
    transition: 0.3s;
    overflow: hidden;
    font-weight: bold;
    border: none;
    /* Remove button border */
    background: none;
    /* Remove button background */
    cursor: pointer;
    /* Make it behave like a link */
}

header ul>li>form .logout-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    -webkit-text-fill-color: content-box;
    bottom: 0;
    left: -100%;
    transition: 0.3s;
}

header ul>li>form .logout-link:hover::before {
    left: 0;
}

main {
    min-height: 80vh;
    padding: 200px 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

main section {
    margin: auto;
    width: fit-content;
    padding: 50px;
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    border-radius: 6px;
    display: flex;
    color: #191919;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

main section>h1 {
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 50px;
    margin: 0;
    text-align: start;
    margin-left: 10%;
}

main section.about {
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
}

main section.about div.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main section.about a {
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-text-fill-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    transition: background-position 0.3s ease;
}

main section.about a:hover {
    background-position: 100% 50%;
}

main section.login {
    flex-direction: column;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

main section.login form {
    padding: 0;
}


main section.login input,
main section.login textarea {
    outline: none;
    border-color: transparent transparent #bbb;
    position: relative;
    padding: 15px 10px;
    margin: 10px;
    font-size: 30px;
    transition: 0.3s;

}

main section.login textarea {
    resize: none;
    height: 38px;
    border-width: 2px;
    max-width: 313px;
}

main section.login input::placeholder {
    color: #bbb;
}

main section.login button {
    width: 100%;
    margin: 35px 0;
    padding: 20px 10px;
    color: white;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-text-fill-color: white;
    border: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

main section.login button:hover {
    background-position: 100% 50%;
}

main section.login>div.other {
    text-align: center;
}



main section.products .search {
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: start;
    align-items: center;
    margin-bottom: 100px;
}

main section.products .search h1 {
    min-width: fit-content;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-align: start;
}

main section.products .search form {
    width: calc(80% - 4px);
    display: flex;
}

main section.products .search form input {
    outline: none;
    border-width: 1px;
    border-color: #bbb white #bbb #bbb;
    border-radius: 10px 0 0 10px;
    position: relative;
    padding: 15px 20px;
    margin: 0px;
    font-size: 30px;
    width: calc(100% - 92px);
}

main section.products .search form button {
    border: none;
    outline: none;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 0;
    color: white;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-text-fill-color: white;
    transition: 0.5s;
    transform: translateX(-25px);
}

main section.products .search form button:hover {
    background-position: 100% 50%;
    border-radius: 10px;
}

main section.products .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}


main section.products .product-list .product-item {
    flex-direction: column;
    overflow: hidden;
    padding: 24px;
}

main section.products .product-list .product-item p {
    margin: 0;
}

main section.products .product-list img {
    width: 300px;
    height: 300px;
    transition: all 0.3s;
    transform: scale(1);
    max-width: 100%;
}

main section.products .product-list img:hover {
    transform: scale(1.02);
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}

main section.products .product-list .details1 {
    display: flex;
    padding: 12px 10px;
    justify-content: space-between;
    align-items: center;
    color: #4b5563 font
}

main section.products .product-list .details1 i {
    transition: 0.3s;
}

main section.products .product-list .details1 i:hover {
    color: red;
}

main section.products .product-list .details2 {
    color: rgb(17, 24, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
}

main section.cart_item {
    position: relative;
}

main section.cart_item img {
    min-width: 300px;
    min-height: 300px;
    max-width: 500px
}

main section.cart_item form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main section.cart_item form label {
    font-weight: bold;
}

main section.cart_item form input {
    width: calc(100% - 82px);
    outline: none;
    border-width: 1px;
    border-color: #bbb white #bbb #bbb;
    position: relative;
    padding: 7px 20px;
    margin: 0px;
    font-size: 30px;
    margin-left: 10px;
}

main section.cart_item button {
    border: none;
    outline: none;
    padding: 7px 20px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-text-fill-color: white;
    transition: 0.5s;
}

main section.cart_item button:hover {
    background-position: 100% 50%;
}

main section.cart_item .details1 {
    display: flex;
    text-align: start;
    padding: 12px 10px;
    align-items: center;
    color: #4b5563 font
}

main section.cart_item .details2 {
    color: rgb(17, 24, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
}

main section.cart_item button.cart {
    padding: 15px 20px;
}

main section.cart_item button.ccc {
    margin-top: 10px;
}

/* main section.products .product-list button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    color: white;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-text-fill-color: white;
    transition: 0.5s;
} */
/* 
main section.products .product-list button:hover {
    background-position: 100% 50%;
} */

main section.car button,
main section.car .button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0;
    padding: 15px 20px;
    color: white;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-text-fill-color: white;
    transition: 0.5s;
    margin-top: 10px;
}

main section.car button:hover,
main section.car .button:hover {
    background-position: 100% 50%;
}


main section.add_product form div,
main section.add_product form>input {
    max-width: 450px;
}

main section.add_product form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main section.add_product form div:last-of-type input {
    font-size: 16px;
}

main section.users .user-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main section.users .user-list .user-item {
    flex-direction: column;
    padding: 10px;
}

footer {
    background-color: #191919;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .links a {
    color: white;
    padding: 10px;
    background-color: transparent;
    margin: 0 20px;
    transition: 0.3s;
    border-radius: 10px;
}

footer .links a.git:hover {
    color: #191919;
    background-color: white;
}

footer .links a.git:hover {
    color: #191919;
    background-color: white;
}

footer .links a.linkedin:hover {
    color: #0b66c3;
    background-color: white;
}

footer .links a.x:hover {
    color: #191919;
    background-color: white;
}

footer .links i {
    font-size: 50px;
    transition: 0.3s;
}

footer .logo img {
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

footer .logo:hover img {
    transform: scale(1.2);
}

/* 

12/11 | Wednesday | Quiz Algorithm
12/12 | Thursday | Assignment AI
12/13 | Friday | 
12/14 | Saturday | Assignment OS + Practical OS
12/15 | Sunday | Practical DM
12/16 | Monday | 
12/17 | Tuesday | 
12/18 | Wednesday | AI Project 
12/19 | Thursday | Practical Algorithm
12/20 | Friday | 
12/21 | Saturday | SWE Project
12/22 | Sunday | 
12/23 | Monday | Practical CA
12/24 | Tuesday | 
12/25 | Wednesday | 
12/26 | Thursday | 
12/27 | Friday | 
12/28 | Saturday | >Start Final<
12/29 | Sunday | 
12/30 | Monday | 
12/31 | Tuesday | 
01/01 | Tuesday | 


*/