:root {
    --main-color: #c94cac;
    --main-color2: #21137e;
}

a {
    text-decoration: none;
}

body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    width: 72px;
    height: 72px;
    transition: 0.3s;
}

header .logo:hover img {
    transform: scale(1.2);
}

header ul {
    display: flex;
}

header ul>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 30px;
    transition: 0.3s;
    overflow: hidden;
    font-weight: bold;
}

header ul>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    -webkit-text-fill-color: content-box;
    bottom: 0;
    left: -100%;
    transition: 0.3s;
}

header ul>li>a:hover::before {
    left: 0;
}

header ul>li>form {
    margin: 0;
    /* To ensure alignment with links */
    display: inline;
    /* Keep it inline */
}

header ul>li>form .logout-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 30px;
    transition: 0.3s;
    overflow: hidden;
    font-weight: bold;
    border: none;
    /* Remove button border */
    background: none;
    /* Remove button background */
    cursor: pointer;
    /* Make it behave like a link */
}

header ul>li>form .logout-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    -webkit-text-fill-color: content-box;
    bottom: 0;
    left: -100%;
    transition: 0.3s;
}

header ul>li>form .logout-link:hover::before {
    left: 0;
}

main {
    min-height: 80vh;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section {
    padding: 50px;
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    border-radius: 20px;
    display: flex;
    color: #191919;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main section h1 {
    padding: 0;
}

main section.about {
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
}

main section.about div.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main section.about a {
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-text-fill-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    transition: background-position 0.3s ease;
}

main section.about a:hover {
    background-position: 100% 50%;
}

main section.login {
    flex-direction: column;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

main section.login form {
    padding: 0;
}

main section>h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 50px;
}

main section.login input {
    outline: none;
    border-color: transparent transparent #bbb;
    position: relative;
    padding: 15px 10px;
    margin: 10px;
    font-size: 34px;
}

main section.login input::placeholder {
    color: #bbb;
}

main section.login button {
    width: 100%;
    margin: 35px 0;
    padding: 20px 10px;
    color: white;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-text-fill-color: white;
    border: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

main section.login button:hover {
    background-position: 100% 50%;
}

main section.login>div.other {
    text-align: center;
}

main section.products .product-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


main section.products .product-list .product-item {
    flex-direction: column;
    border: 1px solid #bbb;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

main section.products .product-list img {
    width: 300px;
    height: 300px;
}

main section.products .product-list button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    color: white;
    background: linear-gradient(90deg, var(--main-color), var(--main-color2));
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-text-fill-color: white;
    transition: 0.5s;
}

main section.products .product-list button:hover {
    background-position: 100% 50%;
}

footer {
    background-color: #191919;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .links a {
    color: white;
    padding: 10px;
    background-color: transparent;
    margin: 0 20px;
    transition: 0.3s;
    border-radius: 10px;
}

footer .links a.git:hover {
    color: #191919;
    background-color: white;
}

footer .links a.git:hover {
    color: #191919;
    background-color: white;
}

footer .links a.linkedin:hover {
    color: #0b66c3;
    background-color: white;
}

footer .links a.x:hover {
    color: #191919;
    background-color: white;
}

footer .links i {
    font-size: 50px;
    transition: 0.3s;
}

footer .logo img {
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

footer .logo:hover img {
    transform: scale(1.2);
}